@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy|Sigmar+One|Press+Start+2P|Russo+One');


.bg-head {
    background: url("/static/img/head.jpg") center no-repeat;
    background-size: cover !important;
}

.bg-acc {
    background: url("/static/img/acc_buy.jpg") center no-repeat;
    background-size: cover !important;
}

.bg-boost {
    background: url("/static/img/boost.jpg") center no-repeat;
    background-size: cover !important;
}

.darkmask {
    box-shadow:0 0 0 100000px rgba(0, 0, 0, 0.33) inset;
}

.darkmask:hover {
    box-shadow: none;
}


.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
}

.calc {
  font-family: 'Press Start 2P', cursive;
}

.icon {
    overflow: hidden;
    width: 5em;
    height: 5em;
    padding-top: 40px;
    padding-bottom: 150px;
}

.icon img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

.icon img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }


/*todo какой нахуй background*/