{% extends 'lex_pusher/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Кабинет бустера</title>
{% endblock %}

{% block navbar %}
    {% include 'lex_pusher/navbar.html' %}
{% endblock %}

{% block content %}
{% if request.user.is_booster %}
    <div class="position-relative overflow-hidden pt-5 text-center">
        <h1>Личный кабинет</h1>
    </div>
    <div class="position-relative overflow-hidden pb-3 m-md-1">
        <div class="row flex-row">
        <div class="col ml-3">
        <h2>
            {% if buster.avatar %}
                <img src="{{ buster.avatar.url }}" class="card-img-top round" style="width: 64px; height: 64px;" alt="avatar">
            {% endif %}
            {{ buster.name }}
        </h2>
        <h2>Ваш баланс: {{ buster.balance }} ₽</h2>
        {% if buster.balance > 500 %}
        <a href="{% url 'payout' id=buster.id %}">
            <button type="button" class="btn w-20 btn-success">Выплатить</button>
        </a>
        {% else %}
        <a href="/">
            <button type="button" class="btn w-20 btn-success disabled" disabled>Выплатить</button>
        </a>
        {% endif %}
            </div>
            <div class="col">
                <div class="row flex-row mt-3">
                    <div class="col text-center">
                    </div>
                    <div class="col text-center">
                        Всего матчей
                        <h3 class="round mt-2">{{ all_stat }}</h3>
                    </div>
                    <div class="col text-center">
                        Побед
                        <br>
                        <h3 class="round mt-2">{{ win_stat }}</h3>
                    </div>
                    <div class="col text-center">
                        Winrate <br>
                        <h3 class="round mt-2">{{ winrate }}%</h3>
                    </div>
                    <div class="col text-center">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#active_bust" id="active_bust-tab" data-toggle="tab"
                                role="tab"
                                aria-controls="active_bust" aria-selected="true">
            Выполняемый заказ
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#inactive_busts" id="inactive_busts-tab" data-toggle="tab"
                                role="tab"
                                aria-controls="inactive_busts" aria-selected="false">
            Доступные заказы
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#punish" id="punish-tab" data-toggle="tab" role="tab"
                                aria-controls="punish"
                                aria-selected="false">
            Штрафы
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#settings" id="settings-tab" data-toggle="tab" role="tab"
                                aria-controls="settings"
                                aria-selected="false">
            Настройки
        </a></li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active container" id="active_bust" role="tabpanel" aria-labelledby="active_bust-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                {% if active_bust %}
                    <h1>Выполняемый заказ</h1>
                {% else %}
                    У вас пока нету активного заказа. Возьмите его во вкладке "Доступные заказы"
                {% endif %}
            </div>

            {% if active_bust %}
            {% if active_bust.mmr_type != "Калибровка" %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Сообщить результат (каждую игру)</h3>
                            <div class="container py-5">
                                {% include 'lex_pusher/buster/new_stat.html' %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-row">
                                <div class="col text-center">
                                    Начальный MMR
                                    <h3>{{ active_bust.mmr_from }}</h3>
                                </div>
                                <div class="col text-center">
                                    Конечный MMR
                                    <h3>{{ active_bust.mmr_to }}</h3>
                                </div>
                                <div class="col text-center">
                                    Сейчас <br>MMR
                                    <h3>{{ active_bust.mmr_current }}</h3>
                                </div>
                                <div class="col text-center">
                                    Осталось MMR
                                    {% if active_bust.mmr_left < 5 %}
                                    <h3>Буст окончен</h3>
                                    {% else %}
                                    <h3>{{ active_bust.mmr_left }}</h3>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row flex-row">
                            <div class="col text-center">
                                Стим логин:
                                <h3>{{ active_bust.steam_login}}</h3>
                            </div>
                            <div class="col text-center">
                                Стим пароль:
                                <h3>{{ active_bust.steam_password }}</h3>
                            </div>
                            </div>
                            <div class="row flex-row text-center">
                                <div class="col pt-5">
                                    <a href="{% url 'logout_buster' %}">
                                        <button type="submit" class="btn btn-danger w-20">Выйти из аккаунта</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="my-5">История</h3>
                <div class="container">
                    <div class="row flex-row">
                        {% for stat in bust_stats %}
                            <div class="col-3">
                                <div class="card text-white bg-{% if stat.is_win %}success{% else %}danger{% endif %} mb-3"
                                     style="max-width: 18rem;">
                                    <div class="card-header">{% if stat.is_win %}Победа{% else %}
                                        Поражение{% endif %}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ stat.mmr }} MMR</h5>
                                        <p class="card-text">{{ stat.time }}</p>
                                            <a href="{{ stat.screen }}" target="_blank"><button class="w-20 btn btn-outline-dark">
                                                <span class="cart-icon">Скриншот</span>
                                                </button>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Сообщить результат <br>(после окончания калибровки)</h3>
                            <div class="container py-5">
                                {% include 'lex_pusher/buster/new_stat.html' %}
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-row">
                                <div class="col text-center">
                                 Steam логин:
                                <h3>{{ active_bust.steam_login}}</h3>
                                </div>
                                <div class="col text-center">
                                 Steam пароль:
                                <h3>{{ active_bust.steam_password}}</h3>
                                   <br>
                                    <br>
                                    <br>
                                   <a href="{% url 'logout_buster' %}">
                                        <button type="submit" class="btn btn-danger w-20 text-center">Выйти из аккаунта</button>
                                   </a>
                                </div>
                                <div class="col text-center">
                                    MMR <br>предыдущего сезона
                                    <h3>{{ active_bust.mmr_current }}</h3>
                                 </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <h3 class="my-5">История</h3>
                <div class="container">
                    <div class="row flex-row">
                        {% for stat in bust_stats %}
                            <div class="col-3">
                                <div class="card text-white bg-{% if stat.is_win %}success{% else %}danger{% endif %} mb-3"
                                     style="max-width: 18rem;">
                                    <div class="card-header">{% if stat.is_win %}Победа{% else %}
                                        Поражение{% endif %}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ stat.mmr }} MMR</h5>
                                        <p class="card-text">{{ stat.time }}</p>
                                            <a href="{{ stat.screen }}" target="_blank"><button class="w-20 btn btn-outline-dark">
                                                <span class="cart-icon">Скриншот</span>
                                                </button>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                        <p><b>Отсутствует</b></p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </div>


        <div class="tab-pane fade" id="inactive_busts" role="tabpanel" aria-labelledby="inactive_busts-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                <h1>Заказы DotA 2</h1>
            </div>

            <div class="container">
                <div class="row flex-row">
                    {% for bust in inactive_busts %}
                        {% if bust.mmr_type != "Калибровка" %}
                        <div class="col-sm-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-dark">
                                    {% if bust.mmr_current < 840 %}
                                    <img src="/static/img/season-ranks/140px-SeasonalRank1-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 1680 %}
                                    <img src="/static/img/season-ranks/SeasonalRank2-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 2520 %}
                                    <img src="/static/img/season-ranks/SeasonalRank3-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 3360 %}
                                    <img src="/static/img/season-ranks/SeasonalRank4-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 4200 %}
                                    <img src="/static/img/season-ranks/SeasonalRank5-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 5880 %}
                                    <img src="/static/img/season-ranks/SeasonalRank6-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% else %}
                                    <img src="/static/img/season-ranks/SeasonalRankTop0.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% endif %}
                                    Заказ #{{ bust.id }}
                                    <a href="{% url 'bust_take' bust_id=bust.id %}">
                                        <button class="w-100 btn btn-outline-success">
                                            <span class="cart-icon">Взять</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="card-body text-dark">
                                    Буст <b>{{bust.mmr_type}}</b> рейтинга<br>
                                    Сейчас: {{ bust.mmr_current }} MMR<br>
                                    Конечный: {{ bust.mmr_to }} MMR
                                </div>
                                <div class="card-footer bg-transparent border-dark">
                                    <a href="{% url 'bust_info' bust_id=bust.id %}">
                                        <button class="w-100 btn btn-outline-dark">
                                            <span class="cart-icon">Открыть</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-sm-3">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-dark">
                                    {% if bust.mmr_current < 840 %}
                                    <img src="/static/img/season-ranks/140px-SeasonalRank1-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 1680 %}
                                    <img src="/static/img/season-ranks/SeasonalRank2-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 2520 %}
                                    <img src="/static/img/season-ranks/SeasonalRank3-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 3360 %}
                                    <img src="/static/img/season-ranks/SeasonalRank4-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 4200 %}
                                    <img src="/static/img/season-ranks/SeasonalRank5-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% elif bust.mmr_current < 5880 %}
                                    <img src="/static/img/season-ranks/SeasonalRank6-1.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% else %}
                                    <img src="/static/img/season-ranks/SeasonalRankTop0.png" class="card-img-top" style="width: 64px; height: 64px;" alt="rank">
                                    {% endif %}
                                    Заказ #{{ bust.id }}
                                    <a href="{% url 'bust_take' bust_id=bust.id %}">
                                        <button class="w-100 btn btn-outline-success">
                                            <span class="cart-icon">Взять</span>
                                        </button>
                                    </a>
                                </div>
                                <div class="card-body text-dark">
                                    <b>{{bust.mmr_type}}</b><br>
                                    <b>MMR</b> сезона: {{ bust.mmr_current }} MMR<br>
                                    <br>
                                </div>
                                <div class="card-footer bg-transparent border-dark">
                                    <a href="{% url 'bust_info' bust_id=bust.id %}">
                                        <button class="w-100 btn btn-outline-dark">
                                            <span class="cart-icon">Открыть</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="punish" role="tabpanel" aria-labelledby="punish-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                <h1>Ваши штрафы</h1>
            </div>
            <div class="container">
                <div class="row flex-row">
                    {% for punish in punishments %}
                        <div class="col">
                            <div class="card border-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-dark">Заказ #{{ punish.id }}</div>
                                <div class="card-body text-danger" style="padding: .75rem;">
                                    <h5 class="card-title">Штраф: {{ punish.cost }} руб.</h5>
                                    <h5 class="card-title">Причина: {{ punish.reason }}</h5>
                                </div>
                                <hr>
                            </div>
                        </div>
                    {% empty %}
                    <div class="position-relative overflow-hidden p-5 text-right">
                        <h1>У Вас нет штрафов!</h1>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="position-relative overflow-hidden pt-5 text-center">
                <h1>Настройки аккаунта</h1>
            </div>
            <div class="container">
                <hr>
                    <form action="{% url 'change_info_account' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-5">
                                {{ form.file|as_crispy_field }}
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <strong>{{ error|escape }}</strong>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Загрузить аватар</button>
                            </div>
                        </div>
                    </form>
                <hr>
                <form action="/" method="GET">
                        <div><h6><strong>Имя: </strong>{{buster.name}}</h6></div>
                        <div><h6><strong>Email: </strong>{{buster.email}}</h6></div>
                        <div><h6><strong>Телефон: </strong>{{buster.phone}}</h6></div>
                        <div><h6><strong>Skype: </strong> {{buster.skype}}</h6></div>
                </form>
                    <hr>
                    <form action="{% url 'change_info_account' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="mmr_main" class="col-sm-2 col-form-label">MMR на мейне</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="mmr_main" name="mmr_main">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Обновить</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form action="{% url 'change_info_account' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="about_yourself" class="col-sm-2 col-form-label">О себе</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="about_yourself" name="about_yourself">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Обновить</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
{% endif %}
{% endblock %}