{% extends 'lex_pusher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="icon" type="image/png" href="/static/img/dota-2.png">
    <title>
        Кабинет бустера
    </title>
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FLEX PUSHER</a>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
    </nav>
{% endblock %}

{% block content %}


    <div class="position-relative overflow-hidden text-center">
        <div class="container mt-5">
            <h1>Оставьте заявку</h1>
            <p class="lead font-weight-normal">В проект принимаются бустеры. Отличительная особенность сервиса в том,
                что аккаунт клиента не закрепляется за отдельным бустером. Бустер авторизуется на сайте и берет
                свободный заказ в работу.
            </p>
            <hr>
            <p class="lead font-weight-normal">
                <a href="{% url 'new_booster' %}">Оставить заявку</a>
            </p>
            <hr>
            <h1>Вход для бустеров</h1>
            <div class="form-style-5">
                <form action='' method='POST' class="p-3">
                    {% csrf_token %}
                    <legend>Бустеры</legend>
                    <fieldset>
                        <legend><span class="number">*</span> Контактные данные</legend>
                        {{ form.username|as_crispy_field }}
                        {{ form.password|as_crispy_field }}
                    </fieldset>
                    <input type='submit' value="Войти">
                </form>
            </div>
            <p class="lead font-weight-normal">
                Условия работы:
                1. Бустить только прежний заказ. После каждой игры нужно указать сколько выиграли / проиграли MMR. В
                системе ведется автоматизированный учет каждого балла рейтинга MMR
                2. Бустеры получают от 50 (на начальном этапе) до 70% от общей стоимости заказа, т. е. если клиент заказ
                на 1000 р. с этой суммы бустер зарабатывает от 500 до 700 р.
                3. Выплаты производятся: от 900 рублей (вне зависимости от набранного MMR). По запросу бустера. В любое
                время и не более двух раз в месяц
            </p>
            <hr>
            <p class="lead font-weight-normal">
                Требования к кандидатам:
                1. Иметь на личном аккаунте не менее 5,6k Solo MMR
                2. Наличие времени для буста
                3. Самое главное — высокий Winrate: >80% на 0-3500 MMR, >75% на 3500-4500 MMR и >70% на 4500-5000 MMR
                4. Соблюдать правила сервиса
                5. Быть честным и ответственным.
            </p>
            <hr>
            <p class="lead font-weight-normal">
                Важно: у нас 90% заказов на буст в районе 4000-5300 MMR. Имейте ввиду, что брать заказы на 2-3k MMR не
                получится! Бустить 4000+ не приятно.

                Условия инвайта
                1. Заполнить заявку
                2. В случае одобрения заявки — выполнить “залоговый буст” или перевести сервису 1000 рублей.

                “Залоговый буст” подразумевает что кандидат должен в течение трех дней прокачать аккаунт с 4k до 4,4k
                MMR (+350-400 MMR) c итоговым Winrate от 72%. Для этого выдается сервисный аккаунт (не клиентский),
                который специально отложен для прохождения залогового тест-буста. Залоговый буст — служит фильтром для
                тех, кто не заинтересован в долгосрочном бустинге за деньги, а также на случай слива клиентского MMR,
                или просто хочет попробовать свои силы. Так же были случаи когда приходили работать настоящие кидалы —
                воровали вещи с аккаунтов клиентов.

                Кто не хочет проходить тест-буст — может перевести залог 1000 рублей в качестве гарантии своей
                благонадежности. Залог будет непременно выплачен через месяц активного буста.
            </p>
        </div>
    </div>
{% endblock %}