{% extends 'lex_pusher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="icon" type="image/png" href="/static/img/dota-2.png">
    <title>
        Кабинет бустера
    </title>
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FLEX PUSHER</a>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="position-relative overflow-hidden text-center mt-5">
        <h1>Бустерам</h1>
            <div class="row mt-3">
            <div class="col-sm"></div>
            <div class="col-5">
                В проект принимаются бустеры. Отличительная особенность сервиса в том,
                    что аккаунт клиента не закрепляется за отдельным бустером. Бустер авторизуется на сайте и берет
                    свободный заказ в работу.
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
        <div class="container mt-5">
            <hr>
              <div class="row">
                <div class="col border-right">
                    <div class="container_text">
                        <p class="text-center">
                            <strong>
                                <a href="{% url 'new_booster' %}">
                                Оставить заявку</a>
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <h3 class="text-center">Вход для бустеров</h3>
                    <div class="form-style-5">
                        <form action='' method='POST' class="p-3">
                            {% csrf_token %}
                            <legend></legend>
                            <fieldset>
                                <legend><span class="number">*</span> Данные</legend>
                                {{ form.username|as_crispy_field }}
                                {{ form.password|as_crispy_field }}
                                <div class="client-log-error">
                                    {% if form.errors %}
                                        <strong>Неверный логин или пароль</strong>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <input type='submit' value="Войти">
                        </form>
                    </div>
                </div>
                  <div class="post-content">
                      <hr>
					<p><span style="font-weight: 400;">В проект принимаются бустеры. Отличительная особенность сервиса в том, что аккаунт клиента не закрепляется за отдельным бустером. Бустер авторизуется на сайте и берет </span><a href="http://joxi.ru/L4Ak64T11q42qe?d=1"><span style="font-weight: 400;">свободный заказ</span></a><span style="font-weight: 400;"> в работу.</span></p>
                      <p><strong>Условия работы:</strong></p>
                    <p>1. Бустить только прежний заказ. После каждой игры нужно указать сколько выиграли / проиграли MMR. В системе ведется автоматизированный учет каждого балла рейтинга MMR<br>
                    2. Бустеры получают от 50 (на начальном этапе) до 70% от общей стоимости заказа, т. е. если клиент заказ на 1000 р. с этой суммы бустер зарабатывает от 500 до 700 р.<br>
                    3. Выплаты производятся: <b>от 900</b> рублей (вне зависимости от набранного MMR). По запросу бустера. В любое время и не более двух раз в месяц</p>
                    <p><strong>Требования к кандидатам:<br>
                    </strong>1.&nbsp; Иметь на личном аккаунте не менее <b>5,6k Solo MMR<br>
                    </b>2. Наличие времени для буста<br>
                    3. Самое главное — <b>высокий Winrate</b>: &gt;80% на 0-3500 MMR, &gt;75% на 3500-4500 MMR и &gt;70% на 4500-5000 MMR<br>
                    4. Соблюдать правила сервиса<br>
                    5. Быть честным и ответственным.</p>
                    <p><span style="font-weight: 400;">Важно:</span><span style="font-weight: 400;"> у нас 90% заказов на буст в районе 4000-5300 MMR. Имейте ввиду, что брать заказы на 2-3k MMR не получится! Бустить 4000+ не приятно.</span></p>
                    <p><strong>Условия инвайта<br>
                    </strong>1. Заполнить <a href="{% url 'new_booster' %}" target="_blank" rel="noopener"><strong>заявку</strong></a><br>
                    2. В случае одобрения заявки — выполнить “<b>залоговый буст</b>” или <b>перевести сервису 1000 рублей.</b></p>
                    <p><span style="font-weight: 400;">“<strong>Залоговый буст</strong>” подразумевает что кандидат должен </span><b>в течение трех дней</b> <b>прокачать аккаунт с 4k до 4,4k MMR</b><span style="font-weight: 400;"> (+350-400 MMR) c итоговым </span><b>Winrate от 72%</b><span style="font-weight: 400;">.&nbsp;</span><span style="font-weight: 400;">Для этого выдается сервисный аккаунт (не клиентский), который специально отложен для прохождения залогового тест-буста.&nbsp;</span><span style="font-weight: 400;">Залоговый буст — служит фильтром для тех, кто не заинтересован в долгосрочном бустинге за деньги, а также на случай слива клиентского MMR, или просто хочет попробовать свои силы. Так же были случаи когда приходили работать настоящие кидалы — воровали вещи с аккаунтов клиентов.</span></p>
                    <p><span style="font-weight: 400;">Кто не хочет проходить тест-буст — может </span><b>перевести залог 1000 рублей</b><span style="font-weight: 400;"> в качестве гарантии своей благонадежности. Залог будет непременно выплачен через месяц активного буста.</span></p>
				</div>
            </div>
        </div>
{% endblock %}