{% extends 'lex_pusher/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Информация о бусте</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FLEX PUSHER</a>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="tab-content" id="myTabContent">
    <div class="position-relative overflow-hidden py-5 m-md-1">
        <h5><a href="{% url 'base' %}">Главная</a> <
            <a href="{% url 'buster_cabinet' %}">Кабинет</a> <
            Заказ #{{found_bust.id}}
        </h5>
        <h2>Заказ номер #{{found_bust.id}}</h2>
    </div>
    <hr>
    <div class="tab-pane fade show active" id="stats" role="tabpanel" aria-labelledby="stat-info-tab">
        <div class="container">
            <div class="row flex-row">
                <div class="col text-center">
                    Начальный MMR
                    <h3>{{ found_bust.mmr_from }}</h3>
                </div>
                <div class="col text-center">
                    Конечный MMR
                    <h3>{{ found_bust.mmr_to }}</h3>
                </div>
                <div class="col text-center">
                    Сейчас MMR
                    <h3>{{ found_bust.mmr_current }}</h3>
                </div>
                <div class="col text-center">
                    Осталось MMR
                    <h3>{{ found_bust.mmr_to|sub:found_bust.mmr_current}}</h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="tab-pane fade show active" id="rules" role="tabpanel" aria-labelledby="rules-tab">
        <div class="position-relative overflow-hidden p-5 text-center">
            <h3>Данные от аккаунта</h3>
        </div>
        <div class="container">
            <div class="row flex-row">
                <div class="col text-center">
                    LOGIN: {{len_login}}
                </div>
            </div>
            <div class="row flex-row">
                <div class="col text-center">
                    PASSWORD: {{len_pass}}
                </div>
            </div>
            {% if active_bust %}
            {% else %}
            <div class="row flex-row">
                <div class="col text-center">
                    <a href="{% url 'bust_take' bust_id=found_bust.id %}">
                        <button class="w-20 btn btn-success">
                            <span class="cart-icon">ВЗЯТЬ</span>
                        </button>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="tab-pane fade show active" id="login_password" role="tabpanel" aria-labelledby="login-info-tab">
        <div class="position-relative overflow-hidden p-5 text-center">
            <h3>Активности на аккаунте</h3>
        </div>
        <div class="container">
            <div class="row flex-row">
                {% for stat in found_bust_stats %}
                <div class="col-3">
                    <div class="card text-white bg-{% if stat.is_win %}success{% else %}danger{% endif %} mb-3"
                         style="max-width: 18rem;">
                        <div class="card-header">{% if stat.is_win %}Победа{% else %}
                            Поражение{% endif %}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ stat.mmr }} MMR</h5>
                            <p class="card-text">{{ stat.time }}</p>
                                <a href="http://{{ stat.screen }}/"><button class="w-20 btn btn-outline-dark">
                                    <span class="cart-icon">Скриншот</span>
                                    </button>
                                </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="activity-buster-tab">
        <div class="position-relative overflow-hidden p-5 text-center">
            <h2>Правила работы аккаунта</h2>
        </div>
        <div class="container">
            <div class="row flex-row">
                <div class="col text-center">
                    1.Работайте в режиме Online(если настройки это позволяют)
                </div>
            </div>
            <div class="row flex-row">
                <div class="col text-center">
                    2.Никому не отвечать, что Вы бустер - не писать!
                </div>
            </div>
            <div class="row flex-row">
                <div class="col text-center">
                    3.Никнейм не менять
                </div>
            </div>
            <div class="row flex-row">
                <div class="col text-center">
                    4.Матом не писать
                </div>
            </div>
        </div>
        <div class="position-relative overflow-hidden p-5 text-center">
            <h5>Работайте тихо и культурно</h5>
        </div>
    </div>
    <hr>
</div>
{% endblock %}