{% extends 'lex_pusher/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Кабинет бустера</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">FLEX PUSHER</a>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
    </nav>
{% endblock %}
{% block content %}

    <div class="position-relative overflow-hidden py-5 m-md-1">
        {% if buster.avatar %}
            <img src="{{ buster.avatar.url }}" class="card-img-top" style="width: 64px; height: 64px;" alt="avatar">
        {% endif %}
        <h2>Привет, {{ buster.name }}</h2>
        <h2>Ваш баланс: {{ buster.balance }} р.</h2>
        <button type="button" class="btn w-20 btn-success">Выплатить</button>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#active_bust" id="active_bust-tab" data-toggle="tab"
                                role="tab"
                                aria-controls="active_bust" aria-selected="true">
            Выполняемый заказ
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#inactive_busts" id="inactive_busts-tab" data-toggle="tab"
                                role="tab"
                                aria-controls="inactive_busts" aria-selected="false">
            Доступные заказы
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#punish" id="punish-tab" data-toggle="tab" role="tab"
                                aria-controls="punish"
                                aria-selected="false">
            Штрафы
        </a></li>
        <li class="nav-item"><a class="nav-link" href="#settings" id="settings-tab" data-toggle="tab" role="tab"
                                aria-controls="settings"
                                aria-selected="false">
            Настройки
        </a></li>
    </ul>

    <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade show active container" id="active_bust" role="tabpanel" aria-labelledby="active_bust-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                {% if active_bust %}
                    <h1>Ваш заказ</h1>
                {% else %}
                    У вас пока нету активного заказа. Возьмите их во вкладке доступные заказы
                {% endif %}
            </div>

            {% if active_bust %}
                <div class="container">
                    <div class="row flex-row">
                        <div class="col text-center">
                            Начальный MMR
                            <h3>{{ active_bust.mmr_from }}</h3>
                        </div>
                        <div class="col text-center">
                            Конечный MMR
                            <h3>{{ active_bust.mmr_to }}</h3>
                        </div>
                        <div class="col text-center">
                            Сейчас MMR
                            <h3>{{ active_bust.mmr_current }}</h3>
                        </div>
                        <div class="col text-center">
                            Осталось MMR
                            <h3>{{ active_bust.mmr_left }}</h3>
                        </div>
                    </div>
                    <div class="row flex-row">
                        <div class="col text-center">
                            Стим логин:
                            <h3>{{ active_bust.steam_login}}</h3>
                        </div>
                        <div class="col text-center">
                            Стим пароль:
                            <h3>{{ active_bust.steam_password }}</h3>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5">Сообщить результат (каждую игру)</h3>
                <div class="container py-5">
                    <form action="{% url 'new_stat' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="mmr" class="col-sm-2 col-form-label">MMR</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="mmr" name="mmr">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="screen" class="col-sm-2 col-form-label">Скрин</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="screen" name="screen">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>


                <h3 class="mt-5">История</h3>
                <div class="container">
                    <div class="row flex-row">
                        {% for stat in bust_stats %}
                            <div class="col-3">
                                <div class="card text-white bg-{% if stat.is_win %}success{% else %}danger{% endif %} mb-3"
                                     style="max-width: 18rem;">
                                    <div class="card-header">{% if stat.is_win %}Победа{% else %}
                                        Поражение{% endif %}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ stat.mmr }} MMR</h5>
                                        <p class="card-text">{{ stat.time }}</p>
                                            <a href="http://{{ stat.screen }}/"><button class="w-20 btn btn-outline-dark">
                                                <span class="cart-icon">Скриншот</span>
                                                </button>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            {% endif %}

        </div>

        <div class="tab-pane fade" id="inactive_busts" role="tabpanel" aria-labelledby="inactive_busts-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                <h1>Заказы DotA 2</h1>
            </div>

            <div class="container">
                <div class="row flex-row">
                    {% for bust in inactive_busts %}
                        <div class="col-sm-3">
                            <div class="card border-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-danger">
                                    Заказ #{{ bust.id }}
                                    {% if active_bust %}
                                        <button class="w-100 btn btn-outline-dark disabled">
                                            <span class="cart-icon">Вы уже выполняете заказ</span>
                                        </button>
                                    {% else %}
                                        <button class="w-100 btn btn-outline-success">
                                            <span class="cart-icon">Можно взять</span>
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="card-body text-danger">
                                    Сейчас: {{ bust.mmr_from }} <br>
                                    Конечный: {{ bust.mmr_to }}
                                </div>
                                <div class="card-footer bg-transparent border-danger">
                                    <a href="{% url 'bust_info' bust_id=bust.id %}">
                                        <button class="w-100 btn btn-outline-dark"
                                                {% if active_bust %}disabled{% endif %}>
                                            <span class="cart-icon">Можно взять</span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="punish" role="tabpanel" aria-labelledby="punish-tab">

            <div class="position-relative overflow-hidden p-5 text-center">
                <h1>Ваши штрафы</h1>
            </div>
            <div class="container">
                <div class="row flex-row">
                    {% for punish in punishments %}
                        <div class="col">
                            <div class="card border-danger mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-danger">Заказ #{{ punish.id }}</div>
                                <div class="card-body text-danger">
                                    <h5 class="card-title">Штраф: {{ punish.cost }} руб.</h5>
                                </div>
                                <div class="card-footer bg-transparent border-danger">
                                    <h5 class="card-title">Причина: {{ punish.reason }}</h5>
                                </div>
                                <hr>
                            </div>
                        </div>
                    {% empty %}
                    <div class="position-relative overflow-hidden p-5 text-center">
                        <h3>У Вас нет штрафов!</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            <div class="position-relative overflow-hidden p-5 text-center">
                <h1>Настройки аккаунта</h1>
            </div>
            <div class="container py-5">
                <div class="card-header bg-transparent border-danger">Аватар</div>
                <hr>
                    <form action="{% url 'change_info_account' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-5">
                                {{ form.file|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Загрузить аватар</button>
                            </div>
                        </div>
                    </form>
                <hr>
                {% for punish in punishments %}
                        <div class="card-header bg-transparent border-danger">Личные данные</div>
                        <div class="card-footer bg-transparent border-danger">
                            <h5 class="card-title">Имя: {{ buster.name }}</h5>
                            <h5 class="card-title">Email: {{ buster.email }}</h5>
                            <h5 class="card-title">Телефон: {{ buster.phone }}</h5>
                            <h5 class="card-title">Skype: {{ buster.skype }}</h5>
                        </div>
                {% endfor %}
                <div class="card-header bg-transparent border-danger">ММР на мейне(Сейчас {{buster.solo_mmr}})</div>
                <hr>
                    <form action="{% url 'change_info_account' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="mmr_main" class="col-sm-2 col-form-label">MMR на мейне</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="mmr_main" name="mmr_main">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Обновить</button>
                            </div>
                        </div>
                    </form>
                    <div class="card-header bg-transparent border-danger">О себе</div>
                    <hr>
                    <form action="{% url 'change_info_account' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="about_yourself" class="col-sm-2 col-form-label">О себе</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="about_yourself" name="about_yourself">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm">
                                <button type="submit" class="btn btn-success w-20">Обновить</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

    </div>
{% endblock %}


{#   а шо ето  ответ -> это подробности заказа #}

{#% for bust in busts %}#}
{#            <div class="modal fade" id="myModal-{{ bust.id }}" tabindex="-1" role="dialog"#}
{#                 aria-labelledby="myModalLabel">#}
{#                <div class="modal-dialog" role="document">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h3 class="modal-title" id="myModalLabel">Заказ № {{ bust.id }}</h3>#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                                    aria-hidden="true">&times;</span></button>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <h3>Буст</h3>#}
{#                            <table class='table'>#}
{#                                <tr>#}
{#                                    <td>{{ bust.mmr_from }} MMR</td>#}
{#                                    <td>{{ bust.mmr_to }} MMR</td>#}
{#                                    <td>Steam login {{ bust.steam_login }} </td>#}
{#                                    <td>Steam password {{ bust.steam_password }} </td>#}
{#                                </tr>#}
{#                            </table>#}
{#                            <h3>Заказчик</h3>#}
{#                            <p>Имя: {{ bust.client.vk }}</p>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
