{% extends 'lex_pusher/base.html' %}

{% block title %}
    <title>
        Спасибо за заявку
    </title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FLEX PUSHER</a>
    <div class="collapse navbar-collapse" id="navbar">
    </div>
</nav>
{% endblock %}

{% block content %}


    <div class="position-relative overflow-hidden text-center">
      <div class="col-md-7 p-lg-7 mx-auto my-7">
        <h1>Спасибо, мы свяжемся с Вами</h1>
      </div>
    </div>

{% endblock %}