@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy|Sigmar+One|Press+Start+2P|Russo+One');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3em !important;
    font-family: 'Exo 2', sans-serif;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
}

.calc {
  font-family: 'Press Start 2P', cursive;
}

.footer {
    position: absolute;
    bottom: 0;
    font-family: 'Luckiest Guy', sans-serif;
}

.index-text {
      font-family: 'Avantgarde', sans-serif;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    left: 50px;
    display: none;
    text-indent:-9999px;
    background: url("/static/img/icon_top.jpg") no-repeat;
}

.border-right {
    border-right: 1px solid #ddd;
}
.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.border-left {
    border-left: 1px solid #ddd;
}


.container_text a{
  display: block;
  margin: auto;
  padding: 1rem 150px;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #020202;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.container_text a:after{
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #ff0003;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}


div.quickbox{
    font-family: "Arial", cursive;
    display:none;text-align:center
}
div.quickbox .qb-close {
    top:0;
    z-index:1503;
    position:absolute;
    color:#737373;
    font-size:39px;
    cursor:pointer
}
div.quickbox .qb-close:hover
{color:#f2f2f2}
div.quickbox .qb-navigate{
    position:absolute;
    color:#fff;
    font-size:26px;
    width:39px;
    height:39px;
    z-index:1502;
    cursor:pointer;
    color:#737373
}
div.quickbox .qb-navigate.qb-left
{left:0;
    text-align:right
}
div.quickbox .qb-navigate.qb-right{
     right:0;text-align:left}

div.quickbox .qb-navigate:hover{
    color:#f2f2f2}div.quickbox .qb-inside{
                      -webkit-border-radius:7px;
                      -moz-border-radius:7px;
                      -ms-border-radius:7px;
                      border-radius:7px;
                      position:absolute;
                      background:#fff;
                      top:0;
                      left:0;
                      z-index:1502;
                      width:650px;
                      height:300px
                  }
div.quickbox .qb-inside .qb-txt{
    height:39px;overflow:hidden;
    font-size:14.3px;color:#333;
    padding:9.1px 0 0;
    width:100%;
    z-index:1505;
    position:absolute;bottom:0}

div.quickbox .qb-inside .qb-img{
    overflow:hidden;z-index:1505;position:absolute}

div.quickbox .qb-inside .qb-img img{
    cursor:pointer}

div.quickbox .qb-inside .qb-loading{
    margin:0 auto;color:#000;z-index:1504;
    position:absolute;width:100%;height:100%;background:url(loader.gif) center center no-repeat
}
div.quickbox .qb-bg{
     opacity:.8;-webkit-opacity:.8;-khtml-opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80);-ms-filter:"alpha(opacity=$p)";background:#000;z-index:1501;position:absolute;width:100%;height:100%;top:0;left:0}
