
section {
    display: block;
}

nav .navbar {
    background: url("/static/img/index/test-wallpaper-2.jpg") no-repeat;
}

* {
    box-sizing: border-box;
}

.about h1, .about h5 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.bg-head {
    position: absolute;
    height: 500px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: url("/static/img/index/image.png") top no-repeat;
    background-size: 100% !important;
}

.bg-acc-index {
    background: url("/static/img/acc-index-bg.svg") top no-repeat !important;
    background-size: 100% !important;
}

/*.leads {*/
/*    position: absolute;*/
/*    width: 862px;*/
/*    height: 53px;*/
/*    left: 329px;*/
/*    top: 142px;*/

/*    font-family: 'M PLUS 1p', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    font-size: 36px;*/
/*    line-height: 53px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/

/*    color: #FFFFFF;*/

/*    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
/*}*/

/*.bust-text {*/
/*    position: absolute;*/
/*    width: 304px;*/
/*    height: 21px;*/
/*    left: 598px;*/
/*    top: 200px;*/

/*    font-family: 'M PLUS 1p', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-size: 14px;*/
/*    line-height: 21px;*/
/*    !* identical to box height *!*/
/*    text-align: center;*/

/*    color: #FFFFFF;*/
/*}*/

.bg-acc {
    background: url("/static/img/acc_buy.jpg") center no-repeat;
    background-size: cover !important;
}

.bg-bust {
    background: url("/static/img/bust.jpg") center no-repeat;
    background-size: cover !important;
}

.bg-acc:hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.bg-bust:hover {
    box-shadow: inset 0 0 0 1px transparent;
}

.darkmask {
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.33) inset;
}

.darkmask:hover {
    box-shadow: none;
}

.image img {
    width: 32px;
    height: 32px;
}

.packs .list {
    margin: 50px 0 50px;
    text-align: center;
    font-size: 0;
}

.packs .item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 265px;
    margin: 0 35px;
    border: none;
    border-radius: 13px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
    transition: 500ms ease all;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
}

@media (max-width: 950px) {
    .packs.item {
        margin: 0 15px 60px !important;
    }
}

@media (max-width: 800px) {
    .packs .list .item {
        width: 200px;
    }

    .packs .list .item hr {
        margin: 10px auto !important;
    }
}

@media (max-width: 720px) {
    .packs .list .item {
        display: block;
        width: 80%;
        margin: 0 auto 40px !important;
    }
}

.packs .list .item:hover {
    border-color: #69c194;
    background-color: rgba(226, 65, 76, 0.02);
}

.packs .list .item span {
    display: block;
    margin: 10px auto 20px;
}

.packs .list .item img {
    max-height: 51px;
    min-width: 32px;
    margin-bottom: 60px;
}

.packs .list .item .title {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
    margin-bottom: 5px;
}

.packs .list .item hr {
    width: 60px;
    border-color: #858585;
    margin: 25px auto;
}

.packs .list .item .desc {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;

    color: #0D1C53;
    margin-bottom: 16px;
}

.packs .list .item .price {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #263238;
    padding: 0 0 20px;
}

.packs .list .item .price:after {
    content: '₽';
    display: inline-block;
    font-family: 'ALS Rubl';
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 0 5px;
}

.packs .list .item.popular {
    margin-top: -12px;
    padding-bottom: 32px;
    background: linear-gradient(180deg, #0D1C53 0%, #2A3D84 59.87%), #0D1C53;
    color: white;
}

.packs .list .item.popular .desc, .packs .list .item.popular .title {
    color: white;
}

.packs .list .item .ellipsis {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 116px;
    height: 116px;
    border: 2px solid #0D1C53;
    background: transparent;
    border-radius: 100px;
}

.packs .list .item.popular .ellipsis {
    border-color: #E5E5E5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
}

.packs .list .item.popular .btn-inv {
    background: transparent;
    box-shadow: none !important;
}

.packs .list .item.popular .btn-inv:hover {
    background: white;
    color: #0D1C53;
}

.packs .list .item .preheader {
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -85px;
    width: 170px;
    height: 30px;
    line-height: 30px;
    background-color: #06c17f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.btn-inv {
    display: inline-block;
    color: white;
    background: #2A3D83;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 20px 8px;
    border: none;
    border-radius: 5px;
    transition: 500ms ease all;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}


.btn-inv:not(.disabled):hover {
    background-color: white;
    color: #0D1C53;
    text-decoration: none;
}

.btn-inv.disabled {
    cursor: default;
}

.security-advantages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 40px;
}

.security-advantages > div {
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px;
}


.security-advantages > div p {
    color: #fff;
    line-height: 1.4rem;
    text-align: center;
    opacity: .55;
    transition: all .4s ease-in-out;
}

.security-advantages > div:nth-of-type(2) span {
    background-image: url("/static/img/index/monitoring_white.png");
}

.security-advantages > div:nth-of-type(3) span {
    background-image: url("/static/img/index/spy_white.png");
}

.security-advantages > div:nth-of-type(2):hover span {
    background-image: url("/static/img/index/monitoring_gray.png");
}

.security-advantages > div:nth-of-type(3):hover span {
    background-image: url("/static/img/index/spy_gray.png");
}

.security-advantages > div:hover span {
    background-color: #fff;
    background-image: url("/static/img/index/group_gray.png");
}

.security-advantages > div:hover span::after {
    transform: translateX(-50%) translateY(-50%) scale(1.02);
    opacity: 1
}

.security-advantages > div:hover p {
    opacity: 1
}

.security-advantages > div:hover h4::before {
    width: 85%;
    opacity: 1
}

.security-advantages > div:hover h4 {
    opacity: 1
}

.security-advantages > div {
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin-bottom: 25px
}

.security-advantages > div h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1), rgba(255, 255, 255, .1));
    transition: all .4s ease-in-out
}

.security-advantages > div h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    opacity: .55;
    transition: all .4s ease-in-out;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.5rem
}

.security-explain {
    width: 100%;
    background: #2A3D84;
    background-size: cover;
    position: relative;
    padding: 30px 0;
}

.security-explain .wrapper1200px {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.wrapper1200px {
    max-width: 1200px;
    margin: 0 auto;
}

.security-explain .wrapper1200px > p {
    margin-top: 35px;
    color: #fff;
    font-size: 1.4rem;
    font-family: sfns display thin, sans-serif;
    line-height: 2rem;
    text-align: center
}

.security-explain h3 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: roboto, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
}


.free-kassa img {
    text-align: center !important;
}

.navbar-collapse a {
    color: #0D1C53;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.navbar-collapse li:not(:last-child) {
    padding-right: 16px;
}

a.login {
    color: #FCB40C;
}

.navbar {
    padding: 40px;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leads {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bust {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}

.pin {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #0D1C53;
}

.login-dropdown {
    text-align: center;
    border-radius: 20px;
    height: 176px;
}

.stans {
    width: 226px;
    padding-left: 36px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #0D1C53;
}

.login-pin {
    width: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #0D1C53;
}

.pin-container {
    width: 198px;
    position: absolute;
    left: 50%;
    transform: translateX(-57%);
}


.pin-container input {
    width: 128px;
}

.login-pin, .pin-container input {
    display: inline;
}

.services-text-header {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #0D1C53;
}

.services-text-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #0D1C53;
}

#services {
    margin-top: 0 !important;
    padding-top: 40px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.why-us-header {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;

}

#warranty {
    margin-top: 0 !important;
    padding-top: 20px !important;
}

.why-us-description {
    padding: 0 330px;
}

.why-us-cards {
    margin-top: 0 !important;
}

.why-us-cards h2 {
    margin-top: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;

    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
}

.why-us-cards span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #0D1C53;
}

.why-us-cards .payment-methods {
    display: flex;
    padding: 0 60px;
}

.why-us-cards .payment-methods img:nth-child(even) {
    margin: 0 16px;
}

.why-us-cards .payment-methods img:first-child {
    margin-left: 24px;
}

.security-item {
    position: relative;
    color: white;
    display: flex;
}

.security-explain h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.security-item h4, .security-item p {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.security-item p {
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.security-item div {
    padding-left: 24px;
}

.security-item h4 {
    margin-bottom: 4px !important;
}

.security-item:not(:last-child) {
    margin-bottom: 27px;
}

.security-item img {
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -28px;
}

.security-explain {
    padding: 36px 0 47px;
}

#feedback h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
}

#feedback h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #0D1C53;
}

#testimonials .inner-testimonial {
    position: relative;
    width: 671px !important;
    height: 200px !important;
    background: #FFFFFF;
    border-radius: 13px;
    margin-top: 30px;
}

#testimonials .active .inner-testimonial {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
}

.owl-stage {
    overflow: auto;
}

.owl-dot {
    display: none !important;
}

.owl-prev i, .owl-next i {
    display: none;
}

.owl-prev {
    background: url("/static/img/arrow-left.svg") no-repeat;
    height: 27px;
}

.owl-next {
    background: url("/static/img/arrow-right.svg") no-repeat;
    height: 27px;
}

.owl-next, .owl-prev {
    margin-top: -32px;
    margin-right: -32px;
}

.city-name {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    padding: 0 !important;
    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.text-testimonial {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center !important;
    font-family: 'M PLUS 1p', sans-serif !important;

    color: #0D1C53;
    top: 95px !important;
    padding: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 584px !important;
}

.testimonal-author {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #0D1C53;
    top: 150px !important;
    padding: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#testimonials img {
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    height: 27px !important;
}

#testimonials {
    height: 203px;
}

#society h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
}

#society h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #0D1C53;
}

.social-container {
    background: #2A3D84;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    padding: 13px 34px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
}

.social-container a {
    height: 40px;
}

.social-container a:not(:last-child) {
    padding-right: 30px;
    border-right: 1px solid white;
}

.social-container a:not(:first-child) {
    padding-left: 30px;
}

.social-container a img {
    height: 34px;
    display: block;
    margin: auto;
}

#society {
    position: relative !important;
    height: 180px;
    margin-bottom: 120px !important;
}

.product-item {
    height: 320px !important;
    width: 265px !important;
    padding: 0 !important;
}

.product-item .product-thumbnail img{
    height: 160px !important;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.product-item .product-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;
    padding: 0 !important;
    margin-top: 19px !important;
}

.product-item .product-info .solo_mmr, .product-item .product-info .party_mmr {
    font-weight: bold;
}

.product-item .product-price {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;

    text-align: center;
    text-transform: uppercase;

    color: #FCB40C;
    padding: 15px 0 5px;
}

.product-item .product-btn {
    background: #2A3D83;
    border-radius: 5px;
    padding: 4px 20px 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    border: none;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.product-item .product-btn-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1) !important;
    border-radius: 13px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}

.product-item:not(:last-child) {
    margin-right: 50px !important;
}

.acc-index-container {
    width: 898px;
    height: fit-content;
    margin-bottom: 166px;
}

.acc-index-container .col-xs-12,
.acc-index-container .col-sm-6,
.acc-index-container .col-md-4,
.acc-index-container .col-lg-4 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

span.rouble {
    font-size: 10px;
    padding-left: 2px;
}

.boost-shop-head, #warranty h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;

    color: #203273;
}

.boost-shop-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    text-align: center;

    color: #333333;
    padding: 0 20%;
}

.mmr-container {
    background: linear-gradient(180deg, #0D1C53 0%, #2A3D84 59.87%), #0D1C53;
    border-radius: 13px;
    margin: 0 32%;
    padding: 15px 50px 20px;
    margin-bottom: 13px !important;
}

.boost-switch {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 13px;

    text-align: center;
    text-transform: uppercase;

    color: #333333;
}

.current-mmr, .wish-mmr {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    text-align: center;
}

.wish-mmr {
    color: #FCB40C;
}

.current-mmr {
    color: white;
}

.mmr-container input[type=number] {
    border: 1px solid #E5E5E5;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 5px 27px 5px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    width: 95px;
    /* main */

    color: #0D1C53;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    border: 1px solid #FCB40C;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background: white !important;
    margin-top:0 !important;
    opacity: 1 !important;
}

.slidecontainer {
    width: 220px !important;
    margin-top: 15px !important;
}

#slider-label {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    text-align: center;

    color: #FCB40C;
    width: 20px !important;
    padding-left: 30px;
}

.boost-faster, .boost-price, .boost-btn {
    justify-content: center;
}

.boost-faster {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    text-align: center;

    color: #0D1C53;
}

.lbl {
    margin-top: 18px !important;
    margin-left: 8px !important;
}

.boost-price label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: center;

    color: #0D1C53;
    margin-top: 8px;
}

.boost-price span {
    color: #FCB40C;
}

.boost-price span.rouble {
    margin-top: 10px;
}

#price {
    margin-left: 4px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;

    text-align: center;
    text-transform: uppercase;
}

.boost-btn input {
    background: #2A3D83;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    text-align: center;
    margin-top: 8px;
}

.boost-switch p {
    margin-top: 8px;
}

.boost-price {
    margin-top: 0 !important;
}

.boost-form {
    margin-top: 46px !important;
}

.payment-form-header {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    color: #203273;
}

.payment-form-mmr {
    display: flex;
    width: 100%;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    text-transform: uppercase;

    color: #0D1C53;

}

.payment-form-mmr p:first-child {
    padding-right: 26px;
    border-right: 1px solid #2A3D83;
}

.payment-form-mmr p:last-child {
    padding-left: 26px;
}

.form-style-5 {
    font-family: inherit !important;
    width: 300px;
    background: #FFFFFF !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    margin-bottom: 166px !important;
}

.family-view {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;

    text-align: center;

    /* complimentary */

    color: #FCB40C;
}

.contact-data {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    text-align: center;

    color: #203273;
    padding-top: 40px;
}

fieldset label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    text-align: left;

    /* main */

    color: #0D1C53;
}

fieldset input {
    background: #FFFFFF !important;
    border: 1px solid #E5E5E5 !important;
    box-sizing: border-box !important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05) !important;
    border-radius: 4px !important;
    padding: 2px !important;
    height: 24px !important;
}

.fieldset-contacts {
    padding-bottom: 30px;
    border-bottom: 1px solid #2A3D83 !important;
}

.checksum {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    width: 100%;
    text-align: center;


    color: #0D1C53;
}

.checksum-price {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;

    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    transform: translateY(50%);
}

.checksum .rouble, .checksum-price {
    color: #FCB40C;
}

.btn-buy.btn-success {
    background: #2A3D83 !important;
    border-radius: 5px !important;
    padding: 4px 8px 7px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 13px !important;
    text-align: center !important;
    margin-top: 10px !important;
    text-transform: none !important;
    width: 135px !important;

    color: #FFFFFF !important;
}

.submit-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calibration-rank {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    width: 100%;
    justify-content: center;

    text-align: center;

    /* complimentary */

    color: #FCB40C;
}

.calibration-rank input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: #FCB40C !important;
    margin-left: 15px;
    width: 100px !important;
}

.calibration-rank label {
    padding-top: 8px;
}
.calibration-slider {
    width: 220px;
}

.slider-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calibration-mmr p{
    border: none !important;
    margin-bottom: 0 !important;
}

.calibration-contacts {
    border: none !important;
    padding-bottom: 0 !important;
}
.calibration-contacts .contact-data {
    padding-top: 37px !important;
}

.calibration-mmr span {
    font-weight: 800 !important;
}

