.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 0;
  background: url('icon-dota.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: 0;
  background: url('icon-dota.png');
  cursor: pointer;
}

.slider-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 70px;
    background: transparent;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: -35px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 7px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  display: block;
  background: white;
  border-radius: 7px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: linear-gradient(180deg, #0D1C53 0%, #2A3D84 59.87%), #0D1C53;
  border-radius: 7px;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #9A9999;
}
#cbx:checked + .toggle span {
  background: linear-gradient(180deg, #0D1C53 0%, #2A3D84 59.87%), #0D1C53;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 20px);
}

.center-2 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 175px);
}

.center-3 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% + 35px);
}

.step small {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
    font-weight: 500;
    font-size: 1.25rem;
}

.step {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.cdx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
    margin-top: 15px;
}
.cdx:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 8px;
  width: 8px;
  height: 15px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #0D1C53;
  border-bottom: 2px solid #0D1C53;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.lbl {
  margin-left: 5px;
  margin-top: 15px;
  vertical-align: middle;
  cursor: pointer;
}

#cdx:checked ~ .cdx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
.cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
@-moz-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}