{% load static %}
<div class="owl-carousel block-items" style="background-color: #EEDDFF; border: 6px solid coral; padding-top: 50px;
border-radius: 25px;">
    <div class="item">
        <div class="inner-testimonial " style="background-color: #EEDDFF;">
            <img src="{% static 'img/8.png' %}" class="animated bounceIn full-opacity" alt="Клиент 1">
            <h3 class="city-name" style="color:orangered">Иван, Москва</h3>
            <p class="text-testimonial" style="color:black">Текст отзыва.</p>
        </div>
    </div>
    <div class="item">
        <div class="inner-testimonial" style="background-color: #EEDDFF;">
            <img src="{% static 'img/8.png' %}" alt="Клиент 2">
            <h3 class="city-name" style="color:orangered">Светлана, Екатеринбург</h3>
            <p class="text-testimonial" style="color:black">Текст отзыва.</p>
        </div>
    </div>
    <div class="item">
        <div class="inner-testimonial" style="background-color: #EEDDFF;">
            <img src="{% static 'img/8.png' %}" alt="Клиент 3">
            <h3 class="city-name" style="color:orangered">Александр, Ярославль</h3>
            <p class="text-testimonial" style="color:black">Текст отзыва.</p>
        </div>
    </div>
</div>