.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 0;
  background: url('icon-dota.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: 0;
  background: url('icon-dota.png');
  cursor: pointer;
}

.slider-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 70px;
    background: transparent;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: -35px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;

}

