{% extends 'lex_pusher/base.html' %}
{% load static %}

{% block head %}
    <title>
        Покупка аккаунтов
    </title>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FLEX PUSHER</a>
    <div class="collapse navbar-collapse" id="navbar">
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="position-relative overflow-hidden p-md-1 m-md-1 text-center" id="shop" style="padding-top: 100px;">
  <div class="col-md-12 p-lg-7 mx-auto my-5">
    <h1>УСТАЛ ЖДАТЬ БУСТА? КУПИ АККАУНТ!</h1>
    <p class="lead font-weight-normal">Аккаунты с хорошими MMR рейтингами по вкусным ценам!</p>
  </div>
</div>

<div class="container">
    <div class="row flex-row">
        {% for account in accounts %}
            <div class="col-sm">
                <div class="card">
                  <img src="{{account.image.url}}" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{ account.price }} ₽</h5>
                    <hr>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Solo MMR: {{ account.solo_mmr }} <br>
                        Party MMR: {{ account.party_mmr }}
                    </h6>
                      <a href="{% url 'add_to_cart' account_slug=account.slug %}">
                    <button class="w-100 btn btn-outline-danger ">
                        <span class="cart-icon"><i class="fas fa-shopping-cart"></i></span>
                    </button>
                      </a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
