{% extends 'lex_pusher/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% include "meta/meta.html" %}
    <title>
        Покупка аккаунтов
    </title>
{% endblock %}


{% block navbar %}
    {% include 'lex_pusher/navbar.html' %}
{% endblock %}


{% block content %}
    <div class="position-relative overflow-hidden p-md-1 m-md-1 text-center" id="shop" style="padding-top: 100px;">
        <div class="col-md-12 p-lg-7 mx-auto my-5">
            <h1>УСТАЛ ЖДАТЬ БУСТА? КУПИ АККАУНТ!</h1>
            <p class="lead font-weight-normal">Аккаунты с хорошими MMR рейтингами по вкусным ценам!</p>
        </div>
    </div>

    <div class="container">
        <div class="row flex-row">
            {% for account in accounts %}
                    <div class="product-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                      <a href="{% url 'account_info' account_id=account.id %}" class="product-item-link">
                        <figure class="product-thumbnail" style="min-height:187px !important;">
                          <img src="{{ account.image_avatar.url }}" alt="account image" class="thumbnail"/>
                        </figure>
                        <div class="product-info" style="min-height:45px !important;">
                          <h3 class="product-name">
                            <span>CORE MMR: <span class="solo_mmr">{{account.core_mmr}}</span></span><br>
                            <span>SUPPORT MMR:
                            <span class="party_mmr">{{account.support_mmr}}</span></span><br>
                          </h3>
                        </div>
                        <footer class="product-footer">
                          <div class="price">
                            <ins>
                                <span class="amount">
                                    <i class="fa fa-ruble"></i>
                                    <span class="price_r">{{account.price}}</span>
                                </span>
                            </ins><br>
                           </div>
                            <span class="buy">КУПИТЬ</span>
                        </footer>
                      </a>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
