{% extends 'lex_pusher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    {% include 'lex_pusher/navbar.html' %}
{% endblock %}


{% block content %}
<h2 class="payment-form-header">Покупка аккаунта</h2>
    </div>
    <div class="form-style-5">
        <form action="{% url 'shop_account_end' %}" method="POST">
            {% csrf_token %}
            <div class="payment-form-mmr">
                <p>CORE MMR:<br> {{ account.core_mmr }}</p>
                <p>SUPPORT MMR:<br> {{ account.support_mmr }}</p>
            </div>
            <fieldset class="fieldset-contacts calibration-contacts">
                <p class="contact-data">Укажите Ваши контактные данные</p>
                {{ form.email|as_crispy_field }}
                {{ form.skype|as_crispy_field }}
                {{ form.phone|as_crispy_field }}
            </fieldset>
            <div class="submit-wrap">
                <input type="submit" class="btn btn-buy btn-success btn-block" value="Перейти к оплате"/>
            </div>
            <input type="hidden" name="account_slug" value="{{account.slug}}"/>
        </form>
    </div>

{% endblock %}