{% load static %}

<link rel="stylesheet" href="{% static 'calc/calc.css' %}">
<form action="{% url 'cart_bust' %}" method="POST" class="boost-form">
    <div class="row mt-3 boost-switch">
        <div class="col">
            <div class="center-2">
                <p>Буст Core рейтинга</p>
            </div>
            <div class="center">
                <input type="checkbox" id="cbx" name="type_boost" style="display:none"/>
                <label for="cbx" class="toggle"><span></span></label>
            </div>

            <div class="center-3">
                <p>Буст Support рейтинга <strong style="color: rgba(15,23,78,1);">+25%</strong></p>
            </div>
        </div>
    </div>
    <div class="jumbotron mt-3 text-dark mmr-container">

        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="input-mmr-from" class="mb-0 current-mmr">Текущий ММР</label>
                    <input type="number" id="input-mmr-from" name="mmr_from"
                           placeholder="Текущий MMR" value="1">
                </div>
                <div class="col">
                    <div class="slidecontainer mt-4">
                        <span id="slider-label" class="slider-label mb-0">0</span>
                        <input type="range" min="25" max="5499" value="25" step="1" class="slider" id="slider">
                    </div>
                </div>
                <div class="col">
                    <label for="input-mmr-to" class="mb-0 wish-mmr">Желаемый ММР</label>
                    <input type="number" id="input-mmr-to" name="mmr_to" placeholder="Желаемый MMR"
                           value="26">
                </div>
            </div>


        </div>
        <input type="hidden" id="price_hidden" name="price">

    </div>
    <div class="row boost-faster">
        <input id="cdx" type="checkbox" style="opacity: 0;"/>
        <label class="cdx" for="cdx"></label>
        <label class="lbl" for="cdx">Выполнить быстрее +20%</label>
    </div>
    <div class="row mt-3 boost-price">
            <label for="price" class="mb-0">К оплате:</label>
            <span id="price"></span><span class="rouble"> ₽</span>
    </div>
    <div class="row boost-btn">
        <input type="submit" class="btn btn-outline-primary float-right" value="Перейти к оплате">
    </div>

</form>
<script src="{% static 'calc/calc.js' %}"></script>
