{% load static %}

<link rel="stylesheet" href="{% static 'calc/calc.css' %}">

<div class="jumbotron mt-3 text-dark">
    <form action="{% url 'cart_bust' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="input-mmr-from" class="mb-0">Текущий ММР</label>
                    <input type="number" class="form-control" id="input-mmr-from" name="mmr_from"
                           placeholder="Текущий MMR" value="1">
                </div>
                <div class="col">
                    <div class="slidecontainer mt-4">
                        <span id="slider-label" class="slider-label mb-0">0</span>
                        <input type="range" min="25" max="5499" value="25" step="1" class="slider" id="slider">
                    </div>
                </div>
                <div class="col">
                    <label for="input-mmr-to" class="mb-0">Желаемый ММР</label>
                    <input type="number" class="form-control" id="input-mmr-to" name="mmr_to" placeholder="Желаемый MMR" value="26">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label for="price" class="mb-0">Цена:</label>
                    <strong>
                        <div id="price"></div>
                    </strong>
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-outline-primary float-right" value="Заказать буст">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="center-2">
                        <p>Буст Core рейтинга</p>
                    </div>
                    <div class="center">
                      <input type="checkbox" id="cbx" name="type_boost" style="display:none"/>
                      <label for="cbx" class="toggle"><span></span></label>
                    </div>
                    <div class="center-3">
                        <p>Буст Support рейтинга <strong style="color: rgba(15,23,78,1);">+25%</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="price_hidden" name="price">
    </form>
</div>

<script src="{% static 'calc/calc.js' %}"></script>
