{% extends 'lex_pusher/base.html' %}
{% load static %}

{% block head %}
    <link rel="icon" type="image/png" href="static/img/dota-2.png">
    <title>Заказать буст</title>
{% endblock %}

{% block navbar %}
    {% include 'lex_pusher/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" id="warranty">
        <div class="col-md-12 p-lg-3 mx-auto">
            <h1 class="boost-shop-head">БУСТ ММР</h1>
            <p class="my-4 boost-shop-text">Наш сервис поможет тебе сэкономить время, затраченное на борьбу с тиммейтами за роль и другие игровые<br>
                процессы ведущие к поражению.<br><br><br>

                Сервис «Lex Pusher Boost» прокачает твой аккаунт до любого ранга в назначенные сроки благодаря <br>
                продуманной CRM-системы, которая позволяет брать любые свободные заказы опытным игрокам (бустерам).<br>

                Таким образом, твой аккаунт будут прокачивать большую часть дня (скрин админки бустеров).<br>


                Для оформления заказа введи необходимые значения на калькуляторе</p>
            {% include 'lex_pusher/client/bust_shop_calc.html' %}
        </div>
    </div>
{% endblock %}