{% load static %}
<link rel="stylesheet" href="{% static 'calc/calc.css' %}">

<p class="my-4 boost-shop-text"> Выберите рейтинг </p>
<form action="{% url 'calibration_cart' %}" method="POST">
    <div class="jumbotron mt-3 text-dark mmr-container">
        {% csrf_token %}
        <div class="container">
            <div class="calibration-rank">
                <label for="input-mmr-from" class="mb-0">Рейтинг прошлой калибровки</label>
                <input type="number" class="form-control" id="input-mmr-from" name="mmr"
                       placeholder="MMR" value="1">
            </div>
            <div class="row">
                <div class="col slider-wrapper">
                    <div class="slidecontainer mt-4 calibration-slider">
                        <span id="slider-label" class="slider-label mb-0"></span>
                        <input type="range" min="1" max="5500" value="1" step="1" class="slider" id="slider">
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" id="price_hidden" name="price">
    </div>
    <div class="row mt-3 boost-price">
        <label for="price" class="mb-0">Цена:</label>

        <span id="price"></span><span class="rouble"> ₽</span>

    </div>

    <div class="row boost-btn">
        <input type="submit" class="btn btn-outline-primary float-right" value="Оформить заказ">
    </div>

</form>

<script src="{% static 'calc/calibration.js' %}"></script>