@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy|Sigmar+One|Press+Start+2P|Russo+One');

  .main {
    background: linear-gradient(to top, rgba(0,0,0, 0.5), rgba(0,0,0, 0.6)), url("/static/img/head.jpg") fixed center no-repeat;
    background-size: cover;
  }

@font-face {
  font-family: 'abc';
  src: url('/static/fonts/TrajanPro-Bold.otf')  format("truetype"),
       local('abc');
}
.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
}

.navbar-nav {
    font-family: 'abc', cursive;
    font-size: medium;
}

.calc {
  font-family: 'Press Start 2P', cursive;
}

.icon {
    width: 5em;
    height: 5em;
}


/*todo какой нахуй background*/